<div class="wrapper">
  <div class="container-fluid main">
    <div class="row">
      <div class="col-md-6 col-xs-12 custom-left">
        <div class="text">
          <div class="info">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="../assets/simbolo.png" alt="Logo" width="40" height="43" class="d-inline-block align-text-top">
                Hotel Booking
              </a>
            </div>
            <p>O lugar onde hóspedes e
              hotéis se encontram.
            <p id="inform"> Simples, fácil e conveniente.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12 custom-right">
        <div class="input-box">
          

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <header>Crie sua conta</header>
            <div class="form-group">
              <input type="text" id="name" formControlName="name" class="form-control" required placeholder=" ">
              <label for="name">Nome *</label>
              <div *ngIf="submitted && registerForm.get('name')?.errors" id="name-error">
                <small *ngIf="registerForm.get('name')?.hasError('required')">Nome é obrigatório.</small>
                <small *ngIf="registerForm.get('name')?.hasError('minlength')">Nome deve ter no mínimo 3 caracteres.</small>
                <small *ngIf="registerForm.get('name')?.hasError('maxlength')">Nome deve ter no máximo 250 caracteres.</small>
              </div>
            </div>

            <div class="form-group">
              <input type="email" id="email" formControlName="email" class="form-control" required placeholder=" ">
              <label for="email">Email *</label>
              <div *ngIf="submitted && registerForm.get('email')?.errors" id="email-error">
                <small *ngIf="registerForm.get('email')?.hasError('required')">Email é obrigatório.</small>
                <small *ngIf="registerForm.get('email')?.hasError('email')">Email inválido.</small>
              </div>
            </div>

            <div class="form-group">
              <input type="text" id="cpf" formControlName="cpf" class="form-control" required placeholder=" ">
              <label for="cpf">CPF *</label>
              <div *ngIf="submitted && registerForm.get('cpf')?.errors" id="cpf-error">
                <small *ngIf="registerForm.get('cpf')?.hasError('required')">CPF é obrigatório.</small>
                <small *ngIf="registerForm.get('cpf')?.hasError('pattern')">CPF inválido (use o formato: xxx.xxx.xxx-xx).</small>
              </div>
            </div>

            <div class="form-group">
              <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control" placeholder=" ">
              <label for="phoneNumber">Telefone</label>
              <div *ngIf="submitted && registerForm.get('phoneNumber')?.errors" id="phoneNumber-error">
                <small *ngIf="registerForm.get('phoneNumber')?.hasError('pattern')">Telefone inválido.</small>
              </div>
            </div>

            <div class="form-group">
              <input type="text" id="address" formControlName="address" class="form-control" placeholder=" ">
              <label for="address">Endereço</label>
              <div *ngIf="submitted && registerForm.get('address')?.errors" id="address-error">
                <small *ngIf="registerForm.get('address')?.hasError('minlength')">Endereço deve ter no mínimo 10 caracteres.</small>
                <small *ngIf="registerForm.get('address')?.hasError('maxlength')">Endereço deve ter no máximo 250 caracteres.</small>
              </div>
            </div>

            <div class="password-container">
              <div class="password-field form-group">
                <input type="password" id="password" formControlName="password" class="form-control" required placeholder=" ">
                <label for="password">Senha *</label>
                <div *ngIf="submitted && registerForm.get('password')?.errors" id="password-error">
                  <small *ngIf="registerForm.get('password')?.hasError('required')">Senha é obrigatória.</small>
                  <small *ngIf="registerForm.get('password')?.hasError('pattern')">
                    A senha deve ter pelo menos 8 caracteres, incluindo pelo menos uma letra maiúscula, uma letra minúscula, um número e um caractere especial.
                  </small>
                </div>
              </div>

              <div class="password-field form-group">
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" required placeholder=" ">
                <label for="confirmPassword">Confirmar Senha *</label>
                <div *ngIf="submitted && registerForm.get('confirmPassword')?.errors" id="confirmPassword-error">
                  <small *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Confirmação de senha é obrigatória.</small>
                  <small *ngIf="registerForm.get('confirmPassword')?.hasError('notSame')">As senhas não coincidem.</small>
                </div>
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-primary" aria-label="Cadastrar" [disabled]="registerForm.invalid">Cadastrar</button>
            </div>

            <div *ngIf="successMessage" class="success-message" role="alert">{{ successMessage }}</div>
            <div class="links">
              <a routerLink="/login">Já tenho uma conta. Fazer Login.</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
