body{
  background-color: #ffff
  ;
}
.container {
  display: flex;
  width: 100%; /* Ocupar toda a largura da tela */
  height: 600px;
}

.meia-tela{
  background-color:#f07d14; /* Cor de fundo da barra de navegação */
  width: 50%; /* Cada div ocupa metade da largura do contêiner */
  height: 100%; /* Ambas divs ocupam toda a altura do contêiner */
  display: flex; 
}
.outra-metade {
  width: 50%; /* Cada div ocupa metade da largura do contêiner */
  height: 100%; /* Ambas divs ocupam toda a altura do contêiner */
  display: flex;
}
.info{
  width: 450px;
  height: 300px;
  transform: translate(10%, 55%);
}
.info img{
  width: 40px;
  margin-bottom: -5px;
}
.info span{
  
  font-size: 32px;
  color:#fff;
  margin-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.info p{
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-top:20px;


}
#inform {
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-top: 25px;
}

.formulario{
  align-items: center;
  width: 450px;
  height: 400px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra à div */
  transform: translate(25%, 20%);
  border-radius: 16px;
  }
.formulario p{
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

form input{
  border-radius: 8px;
  border: 1px solid #ccc; /* Adiciona uma borda cinza com 1px de espessura */
  width: 400px;
  height: 35px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.formulario input:hover {
  border-color: #f07d14; /* Muda a cor da borda para azul quando o mouse está sobre o input */
}
.button-custom {
  margin-left: 20px;
  width: 400px;
  height: 35px;
  border-radius: 8px;
  background-color: #f07d14;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-bottom: 20px;
}
.custom-button{
  margin-left: 20px;
  width: 400px;
  height: 35px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ccc; /* Adiciona uma borda cinza com 1px de espessura */
  cursor: pointer;
  margin-bottom: 10px;
}