<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="update-password-container">
    <h2 tabindex="0">Atualizar Senha</h2>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" novalidate>

      <div class="form-group">
        <label for="currentPassword">Senha Atual<span class="required-field">*</span></label>
        <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control" aria-required="true">
        <div *ngIf="submitted && updatePasswordForm.get('currentPassword')?.errors">
          <small *ngIf="updatePasswordForm.get('currentPassword')?.hasError('required')">Senha atual é obrigatória.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="newPassword">Nova Senha<span class="required-field">*</span></label>
        <input type="password" id="newPassword" formControlName="newPassword" class="form-control" aria-required="true">
        <div *ngIf="submitted && updatePasswordForm.get('newPassword')?.errors">
          <small *ngIf="updatePasswordForm.get('newPassword')?.hasError('required')">Nova senha é obrigatória.</small>
          <small *ngIf="updatePasswordForm.get('newPassword')?.hasError('pattern')">Senha inválida.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirme a Nova Senha<span class="required-field">*</span></label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" aria-required="true">
        <div *ngIf="submitted && updatePasswordForm.get('confirmPassword')?.errors">
          <small *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('required')">Confirmação de senha é obrigatória.</small>
          <small *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('notEquivalent')">Senhas não coincidem.</small>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="updatePasswordForm.invalid">Atualizar</button>
      <div *ngIf="successMessage" class="success-message" role="alert">{{ successMessage }}</div>
    </form>
  </div>
</div>
