<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

<header>
    <div class="navbar">
        <img src="./assets/simbolo.png" alt="">
        <p>Hotel Booking</p>
        <div>
            <button id="propertyButton" class="buttonProperty"routerLink="/cadastro"> Anuncie seu espaço</button>
            <button class="buttonLogin" routerLink="/login">Entrar</button>
            <button  class="buttonRegister"routerLink="/cadastro">Cadastre-se</button>
        </div>
    </div>
</header>


<div class="search-container">
    <input type="text" id="search-input" placeholder="Digite sua busca...">
    <button type="submit" class="search-button"><img src="./assets/lupa.png" alt="Lupa"></button>
</div>

<div class="filter-buttons">
    <button>
        <img src="./assets/piscina.png" alt="">
        <span>Piscinas</span>
    </button>

    <button>
        <img src="./assets/praia.png" alt="">
        <span>Praia</span>
    </button>

    <button>
        <img src="./assets/chale.png" alt="">
        <span>Chalé</span>
    </button>


    <button >
        <img src="./assets/sitio.png" alt="">
        <span>Sitio</span>
    </button>
</div>



<div class="hospedagens">
    <div class="home-room">
        <a href="#" class="room-link">
            <img class="button-img" src="./assets/chale.jpeg" alt="">
            <p>Campo Magro</p>
            <p>Vistas para montanhas e jardim</p>
        </a>
    </div>

    <div class="home-room">
        <a href="#" class="room-link">
            <img class="button-img" src="./assets/quarto5.jpeg" alt="">
            <p>Local do quarto</p>
            <p>Vistas para montanhas e jardim</p>
        </a>
    </div>
    
    <div class="home-room">
        <a href="#" class="room-link">
            <img class="button-img" src="./assets/quarto5.jpeg" alt="">
            <p>Local do quarto</p>
            <p>Vistas para montanhas e jardim</p>
        </a>
    </div>

    <div class="home-room">
        <a href="#" class="room-link">
            <img class="button-img" src="./assets/quarto5.jpeg" alt="">
            <p>Local do quarto</p>
            <p>Vistas para montanhas e jardim</p>
        </a>
    </div>

    <div class="home-room">
        <a href="#" class="room-link">
            <img class="button-img" src="./assets/chale.jpeg" alt="">
            <p>Campo Magro</p>
            <p>Vistas para montanhas e jardim</p>
        </a>
    </div>

    <div class="home-room">
        <a href="#" class="room-link">
            <img class="button-img" src="./assets/quarto5.jpeg" alt="">
            <p>Local do quarto</p>
            <p>Vistas para montanhas e jardim</p>
        </a>
    </div>
    
    <div class="home-room">
        <a href="#" class="room-link">
            <img class="button-img" src="./assets/quarto5.jpeg" alt="">
            <p>Local do quarto</p>
            <p>Vistas para montanhas e jardim</p>
        </a>
    </div>

    <div class="home-room">
        <a href="#" class="room-link">
            <img class="button-img" src="./assets/quarto5.jpeg" alt="">
            <p>Local do quarto</p>
            <p>Vistas para montanhas e jardim</p>
        </a>
    </div>
    
</div>

<footer>
    <!-- Imagem simbólica -->
    <img src="./assets/simbolo.png" alt="Logo">
    <!-- Texto do footer -->
    <p>© 2024 Todos os direitos reservados</p>
    <!-- Links adicionais -->
    <nav>
        <a href="#">Página Inicial</a>
        <a href="#">Sobre nós</a>
        <a href="#">Serviços</a>
        <a href="#">Contato</a>
    </nav>
</footer>



</body>
</html>
