/* Mantenha seu CSS existente aqui 

body{
  background-color: #f8f3ed ; /*f1e0cd; , f8eee3, f1d5b5, f8eee3
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f07d14;
  
}

.navbar img {
width: 30px;
margin-right: auto; /* Mudei de margin-left para margin-right 
}
.navbar p {
width: 250px;
margin-left: auto;
margin-right: auto;
font-size: 32px;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;


}
.navbar button {
margin-left: 10px;
color: white;
background-color:#f07d14;
border: none;
height: 20px;
border-radius: 2px;
cursor: pointer ;
}
*/
/*.container-home{
display: flex;
width: 100%; /* Ocupar toda a largura da tela 
height: 450px;
}


.left-half{
width: 50%; /* Cada div ocupa metade da largura do contêiner 
display: flex; 
}

.left-half img{
  width: 100%;
  height: 450px;

  }
.right-half {
  width: 50%; /* Cada div ocupa metade da largura do contêiner 
  display: flex;
  background-color:  #f8f3ed;


}

.info-guests {
  transform: translate(15%, 10%);
  width: 500px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.infos{
position: relative;
top: 20px;
align-items: center;
}

#text-titulo {
  height: 20px;
  text-align: center;
  color: #bb610d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.highlighted-text {
  font-size: 15px;
  color: #bb610d;
  font-weight: 500;
}
ul{
  position: relative;
  right: 20px;
}
li {
  list-style-type: none;
  font-size: 15px;
  margin-bottom: 10px;  Adiciona 10 pixels de espaço abaixo de cada <li> 
}

.buttonHotel{
  position: absolute; 
  bottom: 0;
  margin: 20px 20px;
  right: 0;
}
#button-hotel{
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  border: none;

}

#button-hotel:hover{
  background-color: #e0e0e0;

}
*/

.navbar{
  width: 100%;
  height: 50px;
  background-color: #f07d14;
}
.navbar img{
  position: relative;
  width: 30px;
  left: 25px;
  top:10px
}

.navbar p{
  position: relative;
  align-items: center;
  text-align: center;
  font-size: 32px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  top: -20px;
}

.navbar button{
  color: #f07d14;
  background-color:white;
  border: none;
  height: 20px;
  border-radius: 2px;
  cursor: pointer ;
}

.buttonProperty{
  position: absolute;
  top: 15px;
  right: 175px;
}
#propertyButton{
  color: white;
  background-color : #f07d14;
}
.buttonLogin{
  position: absolute;
  top: 15px;
  right: 25px;
}
.buttonRegister{
  position: absolute;
  top: 15px;
  right: 80px;
}
.search-container {
 position: relative;
 top: 50px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centralizar horizontalmente */
}
.search-container input:focus{
  outline: none;
}
#search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 24px 0px 0px 24px;
  margin-right: 5px;
  width:550px; /* Largura ajustável conforme necessário */
  height: 25px;
 
}
.search-container  button {
  position: relative;
  right: 5px;
  padding: 12px 12px;
  background-color: #f07d14;
  color: #fff;
  border: none;
  border-radius: 0px 24px 24px 0px;
  cursor: pointer;
}
.search-container img{
  width: 15px;
  height: 15px;
}


.filter-buttons{
  position: relative;
  text-align: center;
  top: 70px;
}

.filter-buttons button {
    position: relative; /* Define a posição relativa para o botão */
    border: none;
    margin-left: 30px;
    background-color: white;
    cursor: pointer;
}

.filter-buttons button img {
    display: block; /* Torna a imagem um elemento de bloco */
    width: 30px;
}

.filter-buttons button span {
    display: block; /* Torna o span um elemento de bloco */
    margin-top: 5px; /* Adiciona margem superior para distanciar do topo da imagem */
    text-align: center; /* Centraliza o texto horizontalmente */
}

.hospedagens  {
  position: relative;
  top: 100px;
  
}

.hospedagens div {
  text-align: center;
  display: inline-block;

}

.hospedagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-room {
  width: 20%;
  padding: 10px;
}

.home-room img{
  width: 280px;
  height: 200px;
  border-radius: 8px;
}

.room-link {
  text-decoration: none; /* Remove a decoração de link */

}

.home-room p{
  text-align: justify;
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}
body {
  margin: 0;
  padding: 0;
}

.home-room {
    margin-right: 40px; /* Ajuste este valor conforme necessário */
}

.home-room:last-child {
    margin-right: 0; /* Remove a margem da última imagem */
}

footer {
  background-color: #f07d14;
  color: #fff;
  padding: 20px 0px;
  position: relative;
  top: 100px;
  bottom: 0;
  width: 100%;
  
  text-align: center;
}

/* Estilos para a imagem */
footer img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}
/* Estilos para os links */
footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
footer a:hover {
  text-decoration: underline;
}

