<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<header>
    <div class="navbar">
   <img src="./assets/simbolo.png" alt="">
      <p>Hotel Booking</p>
      <button routerLink="/login">Entrar</button>
      <button routerLink="/cadastro">Cadastre-se</button>
      </div>
</header>
  <div class="img-principal">
    <img src="./assets/recep.png" alt="">


  </div>
  <footer>
    <p></p>
  </footer>


</body>
</html>
