<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="navbar">
        <img src="./assets/simbolo.png" alt="">
        <div class="button-registro">
          <button id="login">Entrar</button>
          <button id="register">Cadastre-se</button>
        </div>
      </div>

    <div class="container">
        <div class="meia-tela">
            <div class="home-describe">
                <h1>Hotel Booking</h1>
                <p>Para os Viajantes em Busca de Experiências Únicas:</p>
                <p id="text-hosp">Explore uma vasta seleção de destinos de sonho e encontre a acomodação perfeita para sua próxima viagem. Comece a
                     planejar sua jornada hoje mesmo e descubra o mundo da hospitalidade 
                     com facilidade e conveniência.</p>
                     <p>Para os Hotéis que Valorizam Excelência em Hospedagem:</p>
                     <p id="text-hosp">Junte-se a uma comunidade dedicada à qualidade e ao serviço excepcional. Ao se cadastrar em nosso sistema, você ganha acesso a uma plataforma dinâmica que destaca sua propriedade e atrai viajantes de todo o mundo. Aumente sua ocupação, otimize suas operações e alcance novos patamares de sucesso na indústria da hospitalidade. 
                        Estamos aqui para ajudá-lo a expandir sua presença e a oferecer experiências memoráveis aos
                         seus hóspedes.</p>
            </div>
        </div>
        
        <div class="outra-metade">
            <div class="coluna">
                <img src="./assets/quarto6.png" alt="">
                
            </div>
            <div class="coluna">
                <img src="./assets/quarto3.png" alt="">
                <img src="./assets/quarto4.png" alt="">
            </div>
            <div class="coluna">
                <img src="./assets/quarto5.png" alt="">
                <img src="./assets/quarto1.png" alt="">
                <img src="./assets/quarto2.png" alt="">
            </div>
        </div>
        
    </div>
    
</body>
</html>