<nav class="navbar navbar-expand-lg navbar-light"> <!-- NAV -->
  <div class="container-fluid"> <!-- CONTAINER -->

    <a class="navbar-brand text-white" routerLink="/">Booking Now</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown"> <!-- NAVBAR -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link text-white" routerLink="/login" routerLinkActive="active" aria-current="page">Entrar</a>
        </li>

        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link text-white" routerLink="/register" routerLinkActive="active" aria-current="page">Cadastro de Usuário</a>
        </li>

        <li class="nav-item dropdown" *ngIf="isAuthenticated()">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Configurações
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/users/update" routerLinkActive="active" aria-current="page">Atualizar dados do Usuário</a></li>
            <li><a class="dropdown-item" routerLink="/users/update-password" routerLinkActive="active" aria-current="page">Atualizar Senha</a></li>
            <li><a class="dropdown-item text-danger" (click)="openDeactivateModal()">Excluir Conta</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="isAuthenticated()">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Acomodações
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/accommodations/register" routerLinkActive="active" aria-current="page">Cadastrar Acomodação</a></li>
            <li><a class="dropdown-item" routerLink="/accommodation/edit/:id" routerLinkActive="active" aria-current="page">Editar Acomodação</a></li>
            <li><a class="dropdown-item" routerLink="/accommodations/delete" routerLinkActive="active" aria-current="page">Excluir Acomodação</a></li>
            <li><a class="dropdown-item" routerLink="/accommodations/search" routerLinkActive="active" aria-current="page">Buscar acomodação</a></li>
          </ul>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link text-white" (click)="logout()">Sair</a>
        </li>

      </ul>
    </div> <!-- // NAVBAR -->

  </div> <!-- // CONTAINER -->
</nav> <!-- // NAV -->

<!-- Modal -->
<div class="modal fade" id="deactivateModal" tabindex="-1" aria-labelledby="deactivateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivateModalLabel">Confirmar Desativação de Conta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza de que deseja desativar sua conta?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deactivateAccount()">Confirmar</button>
      </div>
    </div>
  </div>
</div>
