<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="login-container">
    <h2 tabindex="0">Entrar</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" class="form-control" aria-required="true" aria-describedby="email-error">
        <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" class="error-message" id="email-error">
          O e-mail é obrigatório e deve ser um e-mail válido.
        </div>
        <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched" class="error-message">
          Formato de email inválido.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input id="password" formControlName="password" type="password" class="form-control" aria-required="true" aria-describedby="password-error">
        <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="error-message" id="password-error">
          Senha é obrigatória.
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Entrar</button>
      <div *ngIf="errorMessage" class="error-message" role="alert">{{ errorMessage }}</div>
    </form>
    <div class="links">
      <a routerLink="/forgot-password">Esqueci minha senha</a>
      <a routerLink="/register">Realizar Cadastro</a>
    </div>
  </div>
</div>
