<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="meia-tela">
          <div class="info">
         <img src="assets/simbolo.png" alt="">
         <span>Hotel Booking</span>
        <p>O lugar onde hóspedes e </p>
        <p>hotéis se encontram.</p>
        <p id="inform"> Simples, fácil e conveniente.</p>
        </div>
      </div>
      
        <div class="outra-metade">
          <div class="formulario">
            <form [formGroup] = "loginForm" (ngSubmit) = "login()">
              <p><strong>Entre em sua conta</strong></p>
              <p>Preencha os dados e entre em sua conta</p>
              <input type="email" formControlName="email" placeholder="Email" required>
      
              <input type="password" formControlName="password" placeholder="Senha" required>
             
              <button type="submit" class="button-custom">Cadastrar</button>

              <button type="submit" class="custom-button">Criar conta</button>
            </form>
        </div>
      </div>
    </div>
    
</body>
</html>