<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="reset-password-container">
    <h2 tabindex="0">Redefinir Senha</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" class="form-control" aria-required="true" aria-describedby="email-error">
        <div *ngIf="submitted && resetPasswordForm.controls['email'].errors">
          <small *ngIf="resetPasswordForm.controls['email'].errors['required']">E-mail é obrigatório.</small>
          <small *ngIf="resetPasswordForm.controls['email'].errors['email']">E-mail inválido.</small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Enviar</button>
      <div *ngIf="successMessage" class="success-message" role="alert">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="error-message" role="alert">{{ errorMessage }}</div>
    </form>
  </div>
</div>
