<div *ngIf="cardData" class="card h-100">
  <div class="card-body">
    <h2 class="card-title">{{ cardData.title }}</h2>
    <p class="card-text">{{ cardData.location }}</p>
    <p class="card-text">Preço: R$ {{ cardData.price | number:'1.2-2' }}</p>
    <p class="card-text">Capacidade: {{ cardData.maxGuests }}</p>
    <p class="card-text">{{ cardData.amenities }}</p>
    <div class="d-flex justify-content-between mt-3 flex-wrap">
      <button *ngIf="hasUserRole('USER')" class="btn btn-info" (click)="viewDetails()">Mais Detalhes</button>
      <button *ngIf="hasUserRole('OWNER')" class="btn btn-primary" (click)="editCard()">Editar</button>
      <button *ngIf="hasUserRole('OWNER')" class="btn btn-danger" (click)="deleteCard()">Excluir</button>
    </div>
  </div>
</div>
